
.typed-text {
    background: linear-gradient(to right, #834db7, #9a66d6, #b083e7, #c29de8, #d1b4ee);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @keyframes blink-caret {
    50% {
      border-color: transparent;
    }
  }

  .cursor {
    font-weight: bold;
    color: #f0f0f0; /* Light color for the cursor */
    animation: blink 0.5s infinite step-start; /* Blinking effect */
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  
  


