@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #161513;
  color: white;
}


/* Add this CSS for fade transitions */
.fade-enter {
  opacity: 0;
  transform: translateY(20px);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms ease, transform 500ms ease;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 500ms ease, transform 500ms ease;
}

.splide__track {
  border-radius: 1rem;
}

.splide__slide {
  display: flex;
  align-items: center;
  background-color: #2d1b428b;
  padding: 3rem 1.875rem;
  border-radius: 1rem;
  gap: 1rem;
}

.splide__pagination__page {
  height: 10px;
  width: 10px;
  opacity: 1;
}

.splide__pagination__page.is-active {
  background: linear-gradient(to right, rgb(139 92 246), rgb(217 70 239)) !important;
}

.splide__arrow {
  position: absolute !important;
  background-color:  #2d1b428b!important;
  border: none !important;
  font-size: 2rem !important;
  color: white !important;
  font-weight: 300 !important;
}

.splide__arrow--prev {
  left: -5.5rem !important;
}
.splide__arrow--next {
  right: -5.5rem !important;
}



